/* Navbar & Header */
body {
    font-family: "Inter", sans-serif;
}

#img-header-TWH {
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 12px;
}

#img-header-BC {
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 150px;
}

#txt-header {
    padding-top: 62px;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: bolder;
}

#button-nav {
    padding: 38px 20px;
}
/* Akhir dari Navbar & Header */

/* Content */
.container .text-center {
    font-size: 28px;
    margin: 30px 0 30px 0;
    padding: 10px;
    border: 1px solid #00f90c;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    line-height: 1.15em;
}

.container .media img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.navigation {
    display: inline-block;
    margin: 30px 0 30px 0;
    padding: 10px;
}

/*Contact Section*/

.contact {
    padding: 80px 0px;
    background-image: url(/img/data/ijotua.jpg);
}

.contact .content {
    -webkit-display: flex;
    display: flex;
}

.contact .content .box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea {
    height: 45px;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 25px;
    background-color: transparent;
    border: 1px solid #ffffff;
    /* font-family: "Open-sans", sans-serif; */
    color: #ffffff;
}

.contact .content .form input:focus,
.contact .content .form textarea:focus {
    outline: none;
}

.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder {
    color: #ffffff;
}

.contact .content .form textarea {
    height: 100px;
}

.contact .content .form button {
    border: none;
    outline: none;
    box-shadow: none;
    height: 45px;
    padding: 0px 50px;
    border: 1px solid transparent;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.contact .content .form button:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.contact .content .text h2 {
    font-size: 30px;
    /* font-family: cursive; */
    font-weight: 600;
    color: white;
    padding: 0px 0px 20px;
}

.contact .content .text p {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    /* font-family: "Open-sans", sans-serif; */
}

.contact .content .text .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact .content .text .info li {
    display: block;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    padding-left: 40px;
    /* font-family: "Open-Sans", sans-serif; */
}

.contact .content .text .info li span {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    color: white;
}

.contact .content .text .copy {
    border-top: 1px solid #333333;
    margin-top: 30px;
    padding-top: 20px;
    color: white;
    font-size: 15px;
}

/* memberikan trasnsisi dan pergerakan secara horizontal pada class element sekaligus menghilankan elementnya*/
.container {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.7s ease;
}

/* memunculkan kembali elementnya */
.tampil {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
