/* Navbar & Header */
body {
    font-family: "Inter", sans-serif;
}

#img-header-TWH {
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 12px;
}

#img-header-BC {
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 150px;
}

#txt-header {
    padding-top: 62px;
    padding-bottom: 40px;
    font-size: 32px;
    font-weight: bolder;
}

#button-nav {
    padding: 38px 20px;
}
/* Akhir dari Navbar & Header */

/* ini style slider*/
/* .carousel-item {
    height: 650px;
}

.carousel-item img {
    margin-top: -200px;
}

.carousel-item .display-5 {
    margin-top: -400px;
}

.carousel-item.col {
    /* font-family: "Times New Roman", Times, serif;
} */

/*Data menu*/
.menu {
    padding: 80px 0px;
    background-image: url(/img/data/ijotua.jpg);
}

.menu .content {
    display: flex;
}

.menu .content .box {
    padding: 15px;
    border: 5px solid white;
}

.menu .content .box .inner {
    background-color: white;
}

.menu .content .box:nth-child(2) .inner {
    background-color: white;
}

.menu .content .box .inner .img img {
    width: 100%;
}

.menu .content .box .inner .text {
    padding: 30px;
}

.menu .content .box .inner .text h4 {
    font-size: 20px;
    /* font-family: cursive; */
    margin: 0;
    padding: 0px 0px 15px;
    font-weight: 600;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
}

.menu .content .box .inner .text p {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    margin: 0;
    /* font-family: "Open Sans", sans-serif; */
}

/*Data rombongan belajar*/
.rombel {
    background-image: url(/img/data/gelombang-putih\\1.jpg);
}

/*mengedit h2 pada class rombel*/
.rombel h2 {
    font-size: 30px;
    /* font-family: cursive; */
    font-weight: 600;
    color: #000000;
    text-align: center;
}

/*mengedit p pada class rombel*/
.rombel .title-p {
    font-size: 15px;
    color: #222222;
    text-align: center;
    padding: 0 20% 50px;
    /* font-family: "Open-sans", sans-serif; */
}

/*menyesuaikan ukuran img pada class rombel*/
.rombel .content .box .inner .img img {
    width: 100%;
}

/*Data kelulusan*/
/*mengedit background class kelulusan*/
.kelulusan {
    padding: 80px 0px;
     background-image: url(/img/data/ijotua.jpg);
}

/*mengedit posisi table class kelulusan*/
.kelulusan .content {
    display: flex;
}

/*mengedit table class kelulusan*/
.kelulusan .content .box {
    flex: 0 0 50%;
    padding: 10px;
}

/*mengedit h2 class kelulusan*/
.kelulusan .content .text h2 {
    font-size: 25px;
    /* font-family: cursive; */
    font-weight: 600;
    color: white;
    padding: 0px 0px 20px;
}

/*mengedit p class kelulusan*/
.kelulusan .content .text p {
    font-size: 15px;
    color: white;
    padding: 0px 0px 20px;
    /* font-family: "Open Sans", sans-serif; */
}

/*mengedit warna table class kelulusan*/
.kelulusan .content .timing .table {
    background-color: #ffffff;
}

/*mengedit text table class kelulusan*/
.kelulusan .content .timing .table td {
    border: 1px solid #dfdfdf;
    font-size: 15px;
    text-align: center;
    color: #000000;
}

/*mengedit warna colomn 1 table class kelulusan*/
.kelulusan .content .timing .table tr:nth-child(1) td.data {
    background-color: green;
}

/*mengedit warna text colomn 1 table class kelulusan*/
.kelulusan .content .timing .table tr td.data {
    color: white;
}

/*DATA GURU*/
.timing .table {
    width: 100%;
}

.timing .table td {
    border: 1px solid #dfdfdf;
    padding: 8px;
    font-size: 15px;
    text-align: center;
    color: #222222;
}

.timing .table tr:nth-child(1) td.data {
    background-color: green;
}

.timing .table tr td.data {
    color: white;
}

.guru {
    padding: 80px 0px;
    background-color: #ffffff;
}

.guru h2 {
    font-size: 30px;
    font-weight: 600;
    /* font-family: cursive; */
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
}

.guru .title-p {
    font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    text-align: center;
    padding: 0 20% 50px;
    /* font-family: "Open-sans", sans-serif; */
}

/*Data keadaan kelas*/

.kelas h2 {
    font-size: 30px;
    /* font-family: cursive; */
    font-weight: 600;
    color: #000000;
    padding: 0px 0px 20px;
    text-align: center;
}

.kelas .title-p {
    font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    text-align: center;
    padding: 0 20% 50px;
    /* font-family: "Open-sans", sans-serif; */
}

.kelas .content .box .inner .img img {
    width: 100%;
}

/*Contact Section*/

.contact {
    padding: 80px 0px;
     background-image: url(/img/data/ijotua.jpg);
}

.contact .content {
    -webkit-display: flex;
    display: flex;
}

.contact .content .box {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea {
    height: 45px;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 25px;
    background-color: transparent;
    border: 1px solid #ffffff;
    /* font-family: "Open-sans", sans-serif; */
    color: #ffffff;
}

.contact .content .form input:focus,
.contact .content .form textarea:focus {
    outline: none;
}

.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder {
    color: #ffffff;
}

.contact .content .form textarea {
    height: 100px;
}

.contact .content .form button {
    border: none;
    outline: none;
    box-shadow: none;
    height: 45px;
    padding: 0px 50px;
    border: 1px solid transparent;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.contact .content .form button:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.contact .content .text h2 {
    font-size: 30px;
    /* font-family: cursive; */
    font-weight: 600;
    color: white;
    padding: 0px 0px 20px;
}

.contact .content .text p {
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0px 0px 30px;
    /* font-family: "Open-sans", sans-serif; */
}

.contact .content .text .info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact .content .text .info li {
    display: block;
    margin-bottom: 15px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    padding-left: 40px;
    /* font-family: "Open-Sans", sans-serif; */
}

.contact .content .text .info li span {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 20px;
    color: white;
}

.contact .content .text .copy {
    border-top: 1px solid #333333;
    margin-top: 30px;
    padding-top: 20px;
    color: white;
    font-size: 15px;
}

/* memberikan trasnsisi dan pergerakan secara horizontal pada class element sekaligus menghilankan elementnya*/
.container {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.7s ease;
}

/* memunculkan kembali elementnya */
.tampil {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
